body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.TitleBar{
    background-color: black;
    color: white;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(255, 0, 0);
}